<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
