@model IEnumerable<Product>
<section id="advertisement">
	<div class="container">
		<img src="images/shop/advertisement.jpg" alt="" />
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				@await Html.PartialAsync("_SideBarPartial")
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Features Items</h2>
					@foreach (Product product in Model)
					{
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="~/images/product/@product.image" alt="images/product/@product.image" />
										<h2>$@product.Price</h2>
										<p>@product.Name</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$@product.Price</h2>
											<p>@product.Name</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
					}

				</div><!--features_items-->
				<div class="text-center">
					<ul class="pagination">
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>



<style>
	.pagination {
		display: inline-flex;
		margin: 20px 0;
	}

		.pagination li {
			margin: 0 2px;
		}

			.pagination li a {
				padding: 8px 16px;
				text-decoration: none;
				border: 1px solid #ddd;
				color: #333;
			}

			.pagination li.active a {
				background-color: #FE980F;
				color: white;
				border-color: #FE980F;
			}

			.pagination li a:hover:not(.active) {
				background-color: #ddd;
			}
</style>